In [1]:
import pandas as pd

In [25]:
base = pd.read_excel('scandiData.xlsx')

In [26]:
base.rename(columns={'Unnamed: 7':'R_x_T'}, inplace=True)

In [27]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Month of Year             500 non-null    float64
 1   Default Channel Grouping  500 non-null    object
 2   Device Category           500 non-null    object
 3   Sessions                  500 non-null    float64
 4   Users                     500 non-null    float64
 5   Transactions              500 non-null    float64
 6   Revenue                   500 non-null    float64
 7   R_x_T                     500 non-null    object
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [28]:
base.head(2)

,Month of Year,Default Channel Grouping,Device Category,Sessions,Users,Transactions,Revenue,R_x_T
0,202004.0,Paid Search,desktop,90274.0,60856.0,5100.0,498275.586,97.701095
1,202005.0,Paid Search,desktop,89750.0,59798.0,4430.4,551052.378,124.379825

In [29]:
base['Month of Year'] = base['Month of Year'].map(int)
base.head()

,Month of Year,Default Channel Grouping,Device Category,Sessions,Users,Transactions,Revenue,R_x_T
0,202004,Paid Search,desktop,90274.0,60856.0,5100.0,498275.586,97.701095
1,202005,Paid Search,desktop,89750.0,59798.0,4430.4,551052.378,124.379825
2,202101,Paid Search,desktop,85338.0,59982.0,3434.4,499965.516,145.575797
3,202101,Organic Search,desktop,82060.0,69684.0,1048.8,114072.156,108.764451
4,202011,Paid Search,desktop,72894.0,51594.0,3132.0,446362.794,142.516856

In [30]:
base['Month of Year'] = pd.to_datetime(base['Month of Year'], format='%Y%m')
base['Month of Year']

0     2020-04-01
1     2020-05-01
2     2021-01-01
3     2021-01-01
4     2020-11-01
         ...
495   2020-01-01
496   2020-08-01
497   2019-05-01
498   2019-07-01
499   2019-12-01
Name: Month of Year, Length: 500, dtype: datetime64[ns]

In [31]:
base['Default Channel Grouping'].value_counts()

Paid Search       90
Organic Search    90
Direct            88
(Other)           69
Email             58
Referral          53
Social            43
Display            9
Name: Default Channel Grouping, dtype: int64

In [32]:
base['Device Category'].value_counts()

desktop    205
mobile     190
tablet     105
Name: Device Category, dtype: int64